.draftSlider {
  grid-area: slider;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-items: end;
  padding: 5px 0.2rem;
  color: var(--detail);
  justify-self: end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.0rem;
  height: 0.9rem;
  margin-top: 2px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fill);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset -1px 1px 3px -1px rgb(25,25,25);
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.95rem;
  width: 0.95rem;
  left: 0;
  background-color: var(--cta);
  top: 0px;
  -webkit-transition: .4s;
  transition: .4s;
}

.draftSlider input:checked + .slider {
  background-color: #ffffff;
  box-shadow: inset -1px 1px 4px -1px rgb(25,25,25);
}

.draftSlider input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

.draftSlider input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/*______________________Components_End______________________*
 *__________________________________________________________*
 *__________________________________________________________*
 *_______________________Drafts_Start_______________________*/

#draftContainer {
  width: 100%;
  padding-top: 65px;
}

.postForm {
  background-color: var(--segment);
  border-radius: 15px;
  padding: 20px;
  color: var(--copy);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "heading heading slider"
    "body body body"
    "cta cta cta";
}

.postForm h3 {
  grid-area: heading;
  justify-self: flex-start;
  margin-left: 5px;
}

#postFeedback {
  display: none;
}

#postBody {
  padding: 15px;
  border: 1px solid var(--hilite);
  background: transparent;
  color: var(--copy);
  width: 100%;
  border-radius: 10px;
  font-size: 0.9rem;
  grid-area: body;
  margin-top: 10px;
  min-height: 16rem;
}

#postActions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  justify-content: center;
  margin-top: 15px;
  grid-area: cta;
}

#postActions button {
  padding: 5px 20px;
  border-radius: 15px;
  border: 1px solid var(--cta);
  transition: all 0.2s;
}

button#postPreview {
  border: 1px solid var(--hilite);
  background-color: var(--fg);
  color: var(--detail);
}

#postActions button:hover {
  border-color: var(--orange);
}