/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

hr {margin:0}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////Default Styles*/


/* Libre Franklin - latin */
@font-face {
  font-family: 'Libre Franklin Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Franklin'), local('LibreFranklin-Normal'),
       url('../../app/assets/fonts/LibreFranklinBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../app/assets/fonts/LibreFranklinBoldItalic.otf') format('otf'); /* Legacy iOS */
}

/* Libre Franklin - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Normal'),
       url('../../app/assets/fonts/LibreFranklinLight.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../app/assets/fonts/LibreFranklinLight.otf') format('otf'); /* Legacy iOS */
}

/* Libre Franklin - latin */
@font-face {
  font-family: 'Libre Franklin Medium';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Normal'),
       url('../../app/assets/fonts/LibreFranklinMedium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../app/assets/fonts/LibreFranklinMedium.otf') format('otf'); /* Legacy iOS */
}

:root {
  /* --segment: rgb(21,26,48);
  --fg:      rgb(25,32,56);
  --cta-sec: rgb(25,32,56);
  --bg:      rgb(34,43,69);
  --hilite:  rgb(46,58,89);
  --fill:    rgb(86,97,125);
  --detail:  rgb(146,155,182);
  --copy:    rgb(211,211,216);
  --cta:     rgb(6, 118, 237);
  --orange:  rgb(241, 93, 34); */
  --bg:      rgb(39,39,39);     /*done*/
  --segment: rgb(47,47,47);     /*done*/
  --fg:      rgb(58,58,58);     /*done*/
  --cta-sec: rgb(66,66,66);     /*done*/
  --hilite:  rgb(46,58,89);
  --fill:    rgb(112,112,112);  /*done*/
  --detail:  rgb(208,208,208);  /*done*/
  --copy:    rgb(255,255,255);  /*done*/
  --cta:     rgb(240,84,76);    /*done*/
  --cta2:    rgb(255,98,108);   /*done*/
  --orange:  rgb(241, 93, 34);
}

html {
  display: block;
  height: 100%;
  overflow: auto;
}

body {
  background-color: var(--bg);
  font: normal normal normal 1.0rem/1.2rem  'Libre Franklin Medium', 'Arial', 'sans-serif';
  display: block;
  min-height: 100vh;
}

button {
  font: normal normal bold 1.0rem/1.2rem 'Libre Franklin Medium', 'Arial', 'sans-serif';
  background-color: var(--cta);
  color: var(--copy);
  border: 0
}

button:focus {outline: 0;}

a {
  text-decoration: none;
  transition: all 0.2s;
  font: inherit;
  font-weight: bold;
}

button:hover, a:hover {
  cursor: pointer;
}

.button {
  min-width: 50px;
  padding: 5px 20px;
  border-radius: 15px;
  border: 2px solid var(--cta);
  transition: all ease-out 0.3s;
  font-weight: bold;
  font-family: 'Libre Franklin Bold';
}

.button.secondary {
  border-color: var(--bg);
  background-color: var(--cta-sec);
  color: var(--detail);
}

.button:hover {
  border: 2px solid var(--orange);
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0;
}

.close {
  background-color: transparent;
  padding: 0px;
}

.close svg.icon {
  height: 16px;
  width: 16px;
}

/*/Default Styles End/////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
/////////////////////////////Main wrapper begin/*/


#homeboy {
  display: grid;
  padding: 0;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2.5rem;
  grid-template-areas:
      "main sections";
  align-content: start;
  width: 100%;
  min-height: 100vh;
}

#sectionsModule {
  grid-area: sections;
}

/*/End Main Grid//////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////Start Modules/*/

#mainModule {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-items: start;
  align-content: start;
  margin-top: 0px;
  grid-area: main;
  padding: 0 10px;
}


/*/End Modules////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
///////////////////////////////////Start Navlist*/

#navList {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  background-color: var(--segment);
  box-shadow: 2px 2px 6px -4px rgb(0,0,0);
  border: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100% - 2.5rem);
  height: 50px;
  z-index: 4;
}

#navList a {
  color: var(--copy);
  display: block;
  padding: 7px 7px;
  border-radius: 1em;
  text-align: center;
  border: 1px solid transparent;
  text-shadow: -1px 1px 1px rgb(0,0,0);
  font-size: 0.9rem;
}

#navList a.active {
  background-color: var(--fill);
  color: #fff;
  box-shadow: inset -1px 1px 5px -1px rgba(0,0,0,0.4);
}

#navList a:hover {
  color: var(--cta);
}

/*///////////////////////////////////////////////end navlist/
/////////////////////////////////////////////////////////////
//////////////////////////////////////////////////
///////////////////////////////////End Sections/*/

#sectionsContainer {
  height: 100vh;
  width: 75vw;
  overflow-y: auto;
  position: fixed;
  background-color: var(--segment);
  padding-top: 48px;
  box-shadow: -1px 48px 4px -2px rgb(0,0,0);
  transition: margin-left 0.5s;
  z-index: 5;
}

#sectionsContainer.expanded {
  /* transform: translateX(-64vw); */
  margin-left: -64vw;
  box-shadow: -1px 0 4px -1px rgb(0,0,0);
}

.sectionLink {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-gap: 5px;
  background-color: transparent;
  padding: 1.2rem 0.5rem;
  color: var(--detail);
  text-shadow: -1px 1px 1px rgb(10,10,10);
  font-weight: bold;
  font-size: 1.1em;
  grid-template-columns: 11vw 1fr;
  align-content: center;
  font-weight: bold;
}

.sectionLink .icon g {
  fill: var(--fill);
}

.sectionLink:hover {
  background-color: var(--fg);
  color: var(--cta);
}

.sectionLink:hover g {
  fill: var(--cta);
}

#sections_expander {
  overflow: hidden;
  position: fixed! important;
  padding: 0.75rem 0.5rem;
  top: 0;
  border: 0;
}

#sections_expander .filler {
  display: block;
  min-width: 64vw;
  height: 100%
}

.sectionIcon {
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  min-height: 25px;
  margin-right: 10px;
}

svg.icon {
  width: 1.6rem;
  height: 1.6rem;
}

span[data-icon="music"] {
  background-image: url('../assets/icons/music.svg');
}

span[data-icon="arts"] {
  background-image: url('../assets/icons/image_picture.svg');
}

span[data-icon="writing"] {
  background-image: url('../assets/icons/script.svg');
}

#sectionsModule {
  grid-area: sections;
  z-index: 4;
}

/*End Sections////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
///////////////////////////////////Start Footer/*/


footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: var(--yellow);
  background-color: var(--navy);
}

/**********************************/
/********login modal begin*********/
/**********************************/

.mod {
  display: none;
  align-content: center;
  position: fixed;
  z-index: 1;
  margin: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.mod_box {
  display: block;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  position: relative;
  background-image: linear-gradient(to top right, var(--red), var(--yellow));
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
}

.mod_box hr {
  width: 85%;
  background-color: transparent;
  margin: 15px auto;
  border-color: var(--beige);
  border-width: 0;
  padding: 0;
  height: 1px;
  box-shadow: 0 0 2px 0 var(--yellow);
}

.mod_head {
  display: grid;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.mod_bod {
  padding: 0 0;
  border: 0px solid rgb(185,185,185);
}

#loginAlert {
  display: inline;
  line-height: 0;
  font-size: 0;
	border: 0;
}

#loginAlert p {
  display: block;
  text-align: center;
  padding: 10px;
  border: 0;
  font-size: 1.0rem;
  line-height: 1.2rem;
  color: white;
  text-shadow: 0 1px 2px rgb(30,30,30);
}
  
.mod_bod form input {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 0px solid rgb(185,185,185);
  background: transparent;
  color: rgb(250,240,220);
  text-shadow: 0 1px 2px rgb(30,30,30);
  line-height: 0.9rem;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
  opacity: 1.0;
  transition: opacity 0.5s;
  overflow: visible;
}

.mod_bod form input::placeholder {
  color: var(--detail);
  text-shadow: 1px 1px 0 rgb(178, 198, 205)! important;
  opacity: 0.8;
  font-size: 0.9rem;
  font-weight: bold;
}

.mod_bod form input:hover {
  cursor: pointer;
}

.mod_bod form input:focus {
  cursor: text;
  outline: 0;
}

.mod_bod form input:focus::placeholder {
  opacity: 0;
}

.mod_foot {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  border: 0px solid grey;
  text-align: center;
}

button#loginSignupButton {
  color: rgb(255,255,255);
  text-shadow: 0 1px 2px rgb(30,30,30);
  background: transparent;
  font: normal normal bold 1.0rem/1.2rem 'Arial';
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
}

@keyframes animatetop {
  from {top: -100px; opacity: 0; display:none}
  to {top: 0; opacity: 1; display: block}
}

#username {
  display: none;
}


@media(max-width: 950) {

}