
#messagesHeader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 15% 1fr;
  padding: 5px;
  padding-right: 15%;
  background-color: var(--segment);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#messagesHeader > div {
  color: var(--detail);
  margin: 5px;
  text-align: center;
}

/*___________________Messages Header_End____________________*
 *__________________________________________________________*
 *__________________________________________________________*
 *____________________Components_Start______________________*/

#messagesContainer {
  width: 100%;
}

.message_row {
  border-radius: 5px;
  padding: 15px;
  background-color: transparent;
  box-shadow: 0px 0px 8px -2px rgb(5,5,5);
  color: var(--copy);
  background-color: var(--segment);
  max-width: 100%;
  min-width: 80vw;
  cursor: pointer;
  transition: all 0.2s;
}

.message_row:hover {
  background-color: var(--hilite);
}

.message_row.clicked {
  background-color: var(--cta);
}

.thread_participants {
  font-size: 0.75rem;
  font-weight: normal;
}

.last_message {
  font-weight: normal;
}

#create_message_form {
  background-color: var(--segment);
  margin: 10px;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

#recipients_visual_input {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--segment);
  border: 0.1rem solid var(--hilite);
  min-height: 42px;
  height: auto;
  max-height: 135px;
  overflow: hidden;
  padding: 5px;
  text-align: start;
  transition: all 0.2s;
  margin-bottom: 15px;
}

#recipients_visual_input:hover {
  border: 0.1rem solid var(--orange);
}

#recipients_visual_input span {
  font-size: 0.8rem;
  padding: 5px 15px;
  background-color: var(--cta);
  color: var(--copy);
  font-weight: bold;
  border-radius: 10px;
  line-height: 2.0rem;
}

#new_message_body {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--segment);
  border: 0.1rem solid var(--hilite);
  box-shadow: inset -1px 1px 3px -1px rgb(0,0,0);
  min-height: 57px;
  margin-top: 0;
  transition: all 0.2s;
}

#new_message_body:focus {
  border: 0.1rem solid var(--orange);
}

.last_sender {
  font-weight: bold;   
}

#new_message_submit {
  margin: 15px 0 0 0;
}

.label {
  padding: 0 0 10px 0;
  color: var(--detail);
  margin: 0 0;
  font-weight: bold;
  font-size: 0.9rem;
  width: 100%;
  display: block;
  text-align: left;
}

.modal {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.1s;
  opacity: 0;
  background-color: rgba(0,0,0,0.0);
}

.modal.open {
  z-index: +2;
  background-color: var(--bg);
  opacity: 1;
}

.modal_close_container {
  background-color: var(--segment);
  box-shadow: 2px 2px 6px -4px rgb(0,0,0);
  z-index: +4;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 50px;
  display: grid;
  align-content: center;
  padding-left: 5px;
}

.modal_close {
  color: white;
  font-size: 0;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  background-image: url('../assets/icons/arrow_left.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  cursor: pointer;
  margin-left: 5px;
  padding: 20px;
}

.message_recipients {
  position: relative;
  margin-left: 75vw;
  opacity: 0;
  transition: all 0.3s;
  padding-top: 60px;
}

.modal.open .message_recipients {
  margin-left: 0;
  opacity: 1;
}

#threadContainer {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 5px;
}

.threadRow {
  width: 100%;
  text-align: left;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50px 1fr;
  padding: 10px;
}

.threadRow.mine {
  text-align: right;
}

.message {
  display: inline-block;
  text-align: left;
  background-color: var(--segment);
  color: var(--copy);
  padding: 10px;
  border-radius: 10px;
}

.mine .message {
  text-align: right;
  background-color: var(--cta);
}

.messageDetail {
  font-size: 0.8rem;
  height: 1.2rem;
  color: var(--detail);
}



#replyContainer {
  position: fixed;
  bottom: 0vh;
  width: 89vw;
  background-color: var(--segment);
  padding: 5px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80% 20%;
  z-index: +2;
}

#thread-reply {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid var(--hilite);
  padding: 5px;
  color: var(--copy);
  background-color: transparent;
  overflow: visible;
  word-wrap: break-word;
  resize: none;
  min-height: 25px;
  max-height: 148px !important;
  transition: all 0.1s ease-out;
}

#thread-reply:focus {
  border: 2px solid var(--cta);
}

#replyButton {
  border: 0 solid transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
}