#homeboy {
  display: grid;
  padding: 0 0 0 0;
  width: 100%;
  min-height: 100vh;
  justify-items: center;
  border: 0px solid red;
  align-content: start;
  grid-template-columns: 1fr 2.5rem;
  grid-template-areas:
    "home  sections"
    "main  sections";
}

#homeModule {
  padding: 20px;
  width: 100%
}

#auth_box {
  position: relative;
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  text-align: center;
}

#auth_box_head {
  display: block;
  padding: 15px;
  border: 0;
  outline: 0;
}

#auth_box_head h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--copy);
  letter-spacing: 0.1rem;
}

#auth_box_bod,
#auth_box_foot {
  outline: 0;
  border: 0;
  padding: 0;
}

#auth_box_foot p {
  color: var(--detail);
  padding-top: 15px;
}

#auth_box_foot a {
  color: var(--cta2);
}

#login-signup-grid-box {
  display: block;
  padding: 10px 0;
  border: 0;
  outline: 0;
}

#login-signup-grid-box form {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  grid-gap: 10px;
  padding: 0;
}

#login-signup-grid-box form input {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(49,50,56);
  border-radius: 5px;
  background: rgb(19,20,26);
  color: rgb(250,240,220);
  text-shadow: 0 1px 2px rgb(30,30,30);
  line-height: 1.3rem;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  opacity: 1.0;
  transition: opacity 0.5s;
  overflow: visible;
  box-shadow: inset -3px 3px 5px -1px rgb(0,0,0);
}

#login-signup-grid-box form input::placeholder {
  color: var(--fill);
  opacity: 0.8;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

#login-signup-grid-box form input:hover {
  cursor: pointer;
}

#login-signup-grid-box form input:focus {
  cursor: text;
  outline: 0;
}

#login-signup-grid-box form input:focus::placeholder {
  opacity: 0;
}

#auth_box_submit_button {
  padding: 10px 25px;
  border-radius: 20px;
  background: var(--cta);
  border: 1px solid var(--cta);
  box-shadow: -1px 1px 3px 0 rgb(0,0,0);
}

#auth_box_submit_button:hover {
  cursor: pointer;
}

#login-signup-grid-box form input#auth_username {
  display: none;
}

#mainModule {
  padding: 0;
  border: 0;
}

#postContainer {
  margin: 0;
  border: 0;
}

#sectionsContainer {
  left: calc(100vw - 2.5rem);
}

#theLink {
  font-size: 3rem! important;
  display: inline-block;
  word-spacing: -3rem;
  color: var(--cta);
  text-shadow: -1px 1px 3px rgb(0,0,0);
  font-weight: bold;
}

.the_H {
  text-transform: lowercase;
  font-size: 5rem;
  letter-spacing: -0.5rem;
}

.first {
  display: block;
  position: absolute;
  margin-top: -1.3rem;
  margin-left: 3.5rem;
}

.second {
  display: inline-block;
}

#theLinkContainer {
  padding: 25px;
  text-align: center;
}