#homeModule {
  display: grid;
  justify-items: center;
  border: 0px solid red;
  align-content: start;
  padding-top: 0;
}

#auth_box {
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--navy);
  background-image: linear-gradient(to top right, rgba(0,44,45,0.0), rgba(100,234,234,0.2));
  border-radius: 5px;
  box-shadow: -2px 2px 5px -2px rgb(0,0,0);
  border: 1px solid var(--lightblue);
}

#auth_box_head {
  display: block;
  padding: 15px;
  border: 0;
  outline: 0;
}

#auth_box_head h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--lightblue);
  text-shadow:  1px -1px 0 rgb(123,195,190),
  -1px 1px 3px rgb(0,0,0);
  letter-spacing: 0.1rem;
}

#auth_box_bod,
#auth_box_foot {
  outline: 0;
  border: 0;
  padding: 0;
}

#login-signup-grid-box {
  display: block;
  padding: 10px 0;
  border: 0;
  outline: 0;
}

#login-signup-grid-box form {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  grid-gap: 10px;
  padding: 0;
}

#login-signup-grid-box form input {
  display: inline-block;
  width: 80%;
  padding: 10px;
  border: 1px solid rgb(49,50,56);
  border-radius: 5px;
  background: rgb(19,20,26);
  color: rgb(250,240,220);
  text-shadow: 0 1px 2px rgb(30,30,30);
  line-height: 0.9rem;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
  opacity: 1.0;
  transition: opacity 0.5s;
  overflow: visible;
  box-shadow: inset 3px -3px 5px -1px rgb(0,0,0);
}

#login-signup-grid-box form input::placeholder {
  color: rgb(143,195,190);
  opacity: 0.8;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

#login-signup-grid-box form input:hover {
  cursor: pointer;
}

#login-signup-grid-box form input:focus {
  cursor: text;
  outline: 0;
}

#login-signup-grid-box form input:focus::placeholder {
  opacity: 0;
}

#auth_box_submit_button {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  background: lightseagreen;
  border: 0 solid seagreen;
  box-shadow: 1px -1px 1px 0 rgb(72,255,255),
              -1px 1px 3px 0 rgb(0,0,0);
}

#auth_box_submit_button:hover {
  cursor: pointer;
}

#login-signup-grid-box form input#auth_username {
  display: none;
}

#homeboy {
  display: grid;
  padding: 50px 0 0 0;
  grid-auto-flow: column;
  grid-template-columns: 35% 45% 20%;
  width: 100%;
  min-height: 100vh;
}

#postsModule {
  padding: 0;
  border: 0;
}

#postContainer {
  margin: 0;
  border: 0;
}

#homeboy > div {
  padding: 25px;
}

#sectionsContainer {
  background-color: var(--navy);
  background-image: linear-gradient(to top right, rgba(0,44,45,0.0), rgba(100,234,234,0.2));
  border-radius: 5px;
  box-shadow: -2px 2px 5px -2px rgb(0,0,0);
  border: 1px solid var(--lightblue);
  padding: 0px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  position: fixed;
  margin-right: 25px;
}

.sectionLink {
  display: block;
  background-color: transparent;
  padding: 20px 15px;
  color: var(--lightblue);
  text-shadow: 1px -1px 0 rgb(123,195,190),
              -1px 1px 3px rgb(0,0,0);
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.sectionLink:hover {
  background-color: rgba(30,30,30,0.3);
}

#theLink {
  font-size: 3rem! important;
  display: block;
  word-spacing: -3rem;
  color: var(--lightblue);
  text-shadow: 1px -1px 0 rgb(123,195,190),
              -1px 1px 3px rgb(0,0,0);
  font-weight: bold;
}

.the_H {
  text-transform: lowercase;
  font-size: 5rem;
  letter-spacing: -0.5rem;
}

.first {
  display: block;
  position: absolute;
  margin-top: -1.3rem;
  margin-left: 3.5rem;
}

.second {
  display: inline-block;
}

#theLinkContainer {
  padding: 25px;
}

